.toggler{
  /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
    z-index:5;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
}

.hamburger{
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    padding: 0.6rem;
  
  /* FOR DISPLAYING EVERY ELEMENT IN THE CENTER : */
  
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CREATING THE MIDDLE LINE OF THE HAMBURGER : */

.hamburger > div{
    position: relative;
    top: 0;
    left: 0;
    background: white;
    height: 2px;
    width: 60%;
    transition: all  0.4s ease;
}

/* CREATING THE TOP AND BOTTOM LINES : 
TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */

.hamburger > div::before,
.hamburger > div::after{
    content: '';
    position: absolute;
    top: -10px;
    background: white;
    width: 100%;
    height: 2px;
    transition: all  0.4s ease;
}

.hamburger > div::after{
    top: 10px;
}

/* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */

.toggler:checked + .hamburger > div{
    background: rgba(0,0,0,0);
}

.toggler:checked + .hamburger > div::before{
    top: 0;
    transform: rotate(45deg);
    background: white;
}

/* AND ROTATING THE TOP AND BOTTOM LINES :  */

.toggler:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(135deg);
    background: white;
}


/* MAIN MENU WITH THE WHITE BACKGROUND AND THE TEXT :  */

.menu{
    background: transparent;
    width: 0%;
    height: 100vh;
    -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
    background-color: #091d387d;
    z-index: 2;
  
  /* APPLYING TRANSITION TO THE MENU :  */
  
    transition: all 0.4s ease;
}

/* IF THE TOGGLER IS CHECKED, THEN INCREASE THE WIDTH OF THE MENU TO 30% , CREATING A SMOOTH EFFECT :  */

.toggler:checked ~ .menu{
    width: 30%;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

/* STYLING THE LIST :  */

.menu > .non-data {
    position: absolute;
    color: white;
    visibility: hidden;
    top: 25%;
    left: 25%;
    height: 25%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: rgba(58, 172, 221, 0.684) 5px dashed;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.non-data:active {
    border: rgba(117, 207, 94, 0.684) 5px dashed;
}

.menu > .non-data > span {
    position: relative;
    bottom: 1em;
    color: rgba(58, 172, 221, 0.684);
}

.menu > .non-data::before {
    content: '+';
    position: relative;
    font-size: 8em;
    color: rgba(53, 91, 202, 0.61);
}

.toggler:checked ~ .menu > div {
    transition: visibility 0.4s ease;
    transition-delay: 0.1s;
    visibility: visible;
}

.bg {
    background: -webkit-gradient(linear,right top,left top,from(rgba(0,23,54,0)),to(#001736));
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    transition: opacity .3s;
}

.toggler:checked ~ .bg {
    opacity: 1;
}