@charset "UTF-8";

:root {
  --duration: 1.5s;
  --loading-size: 250px;
  --box-size: 33px;
  --box-border-radius: 15%;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.return-button {
  font-size: 20px;
  position: absolute;
  left: 1vw;
}

.medium-button {
  font-size: 20px;
  width: 150px;
}

input {
  cursor: text;
}

input:focus {
  lectureNote: none;
}

button {
  cursor: pointer;
}

header {
  width: 100%;
  height: 10%;
  /* top: 0; */
}