 body {
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    height: 100vh;
}


.container {
    width: 700px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  
.title-container {
    display: flex;
    align-items: center; 
    background: #6b51c7;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
  }

.title-container img {
    border: #000000 0.5px solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  } 
.msg-container {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
.chat-container {
    display: flex;
    margin-top: 10px;  
  }
  
.chat-box {
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 5px;
    font-size: 16px;
    width: 80%;
  }

.chat-form {
  width: 100%;
}

.chat-submit {
  padding: 15px;
  background: #007bff;
  color: #fff;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 5px;
  font-size: 16px;  
  width: 15%;
  }
.chat-submit:hover{
  transform: scale(1.05);
  background: #c1c6e2;
}
.chat-submit:active {
  background: #9ba5df;
}

.user-logo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 10px;
}

.fa-user {
  background-color: #cad7cb;
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 50%;
  font-size: 16px;

}

.user-msg-box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.bot-logo {
  display: flex;
  justify-content: flex-start; 
  margin-bottom: 10px;
}

.bot-logo img{
  border: #000000 0.5px solid;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-msg {
  background-color: #C8E6C9;
  border: 1px solid #66BB6A;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
}

.bot-msg-box {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.bot-msg {
  background-color: #6a70c0;
  border: 1px solid #25204e;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
}