<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    {% for file in css_files %}
        <link rel="stylesheet" href="{{ url_for('static', filename=file) }}">
    {% endfor %}
    {% for file in js_files %}
        <script src="{{ url_for('static', filename=file) }}" ></script>
    {% endfor %}
</head>
<body>
    {% block content %}
    <div class="role-selection">
        <div id="teacher-button" class="role-open">
            <button class="button-anime return-button">button</button>
            <span>老師</span>
            <div>
                <div>
                    <div>ssss</div>
                    <div>ssss</div>
                </div>
                <div>
                    <button>ssss</button>
                    <button>ssss</button>
                </div>
            </div>
        </div>
        <div id="student-button" class="button-anime">學生</div>
    </div>
    {% endblock %}
</body>
</html>