{% block preload %}

{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% for file in css_files %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' + file) }}">
    {% endfor %}
    {% for file in js_files %}
        <script src="{{ url_for('static', filename='js/' + file) }}" ></script>
    {% endfor %}
    {% block link %}
    
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="center">
        <div class="role-selection">
            <div id="teacher-button" class="button-frame button-anime">
                <span>老師</span>
            </div>
            <div id="student-button" class="button-frame button-anime"><span>學生</span></div>
        </div>
    </div>
    {% endblock %}
</body>
</html>