<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    {% for file in css_files %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' + file) }}">
    {% endfor %}
    {% for file in js_files %}
        <script src="{{ url_for('static', filename='js/' + file) }}" ></script>
    {% endfor %}
</head>
<body>
    <div class="button-frame role-selection">
        <input type="text" class="button-frame" placeholder="username">
        <input type="text" class="button-frame" placeholder="password">
        <input type="text" class="button-frame" placeholder="confirm password">
        <button type="button" class="button-frame button-anime medium-button">rigister</button>
    </div>
</body>
</html>