{% extends "index.html" %}
{% block content %}
<div>
    <div class="button-frame role-open role-selection">
        <a href="/"><button class="button-frame button-anime return-button"><i class="fa-solid fa-arrow-left-long"></i></button></a>
        <span>教師註冊</span>
        <div class="input-frame">
            <div>
                <input type="text" class="button-frame login-frame" placeholder="username">
                <input type="text" class="button-frame login-frame" placeholder="password">
                <input type="text" class="button-frame login-frame" placeholder="confirm password">
            </div>
            <div>
                <div class="register-button-frame">
                    <button type="button" class="button-frame button-anime">register</button>     
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}