<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    {% for file in css_files %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' + file) }}">
    {% endfor %}
    {% for file in js_files %}
        <script src="{{ url_for('static', filename='js/' + file) }}" ></script>
    {% endfor %}
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</head>
<body>
    <div class="fish" id="fish"></div>
    <div class="fish" id="fish2"></div>
    <div class="plants"></div>
    <header>

        {% block content %}{% endblock %} 
        <div class="title">
            <p class="AIGC-title">AIGC Teacher Master</p>
        </div>
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
            <div class="jstree-data">
            
            </div>
        </div>
        <button class="button-frame button-anime" id="test_test">chatBOT</button>
        <div class="bg"></div>
        <div class="mask"></div>
    </header>
    <div class="data-frame">
        <div class="data-input-frame">
            <!-- <div>
                <a href="#" download class="download_button"><span>Download</span><span>PDF</span></a>
            </div>  -->
        </div>
        <div class="data-input-frame">
            <!-- <div>
                <a href="#" download class="download_button"><span>Download</span><span>VIDEO</span></a>
            </div> -->
        </div>
    </div>
    </body>
</html>