{% extends 'index.html' %}
{% block preload %}
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block content %}
<header>
    <div class="title">
        <p class="AIGC-title">AIGC Teacher Master</p>
    </div>
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
        <div class="non-data">
            <p>+</p>
            <p>New Course</p>
        </div>
    </div>
    <div class="bg"></div>
    <div class="mask"></div>
</header>

<div class="data-frame">
    <div class="data-input-frame">
        <div id="timeline">
            <ul id="dates">
                <li><a href="#step-1">Step.1</a></li>
                <li><a href="#step-2">Step.2</a></li>
                <li><a href="#step-3">Step.3</a></li>
                <li><a href="#step-4">Step.4</a></li>
                <!-- <li><a href="#step-5">Step.5</a></li> -->
            </ul>
            <form method="POST" name="uploaddata" id="dataForm">
                <!-- <area value="subject_naem"> -->
                <input name="chapter_name" value="test_chapter_name" style="display:none">
                <input name="subject_name" value="test_subject_name" style="display:none">
                <input name="author" value="author" style="display:none">
                <ul id="issues">
                    <li id="step-1">
                        <div class="data">
                            <p>Select file type and file</p>
                            <select class="sel_box" title="upload_filetype" id="setting1" onchange="toggleElements('#setting1')">
                                <option value='1'>Upload file</option>
                                <option value='2'>Donwload from URL</option>
                            </select>
                            <div class="content_box drop-area">
                                <label for="file_input" class="custom_file_input">
                                    <i class="fas fa-upload fa"></i>
                                    <span class="file-name">Choose file</span>
                                    <span>( pdf  , ppt , pptx )</span>
                                    <input accept=".pdf,.ppt,.pptx" type="file" id="file_input" class="file_input" name="uploadfile" style="display: none;">
                                </label>
                            </div>
                            <div class="content_box url_input_box">
                                <div class="url_box">
                                    <input type="text" id="url_input" placeholder="Enter URL">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="step-2">
                        <div class="data">
                            <p>Select instructor image</p>
                            <select name="face_box" title="face_sel" class="sel_box" id="setting2" onchange="face_select('#setting2')">
                                <option value='0'>Upload file</option>
                                <option value='1'>Select character</option>
                            </select>
                            <div class="content_box drop-area">
                                <label for="face_input" class="custom_file_input">
                                    <i class="fa-solid fa-image fa"></i>
                                    <span class="file-name">Upload face</span>
                                    <span>( jpg , jpeg , png )</span>
                                    <input accept=".jpg,.jpeg,.png" type="file" id="face_input" class="file_input" name="uploadface" style="display: none;">
                                </label>
                            </div>
                            <div class="face_img_frame content_box">
                                {% for face in faces%}
                                <label>
                                    <input type="radio" name="face">
                                    <img title="face_img" class="face_img" src="../static/test_img/{{ face }}.jpg" tabindex="0">
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li id="step-3">
                        <div class="data">
                            <p>Select language/voice</p>
                            <select name="language_box">
                                {% for voice in voices %}
                                    <option value="{{ voice }}">{{ voice }}</option>
                                {% endfor %}
                            </select>
                            <div class="voice-play-frame">
                                
                            </div>
                        </div>
                    </li>
                    <li id="step-4">
                        <div class="data">
                            <p>Select Generation Category (Abstract/lectureNote)</p>
                            <div class="middle">
                                <label>
                                    <input type="radio" name="radio" checked/>
                                    <div class="lectureNote radio-box">
                                        <span>Abstract</span>
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="radio"/>
                                    <div class="speech radio-box">
                                        <span>lectureNote</span>

                                    </div>
                                </label>
                            </div>
                            <input type="button" class="button-frame button-anime" onclick="uploadKeypoint(4)" value="upload">
                            <!-- <div class="data">
                                <input type="submit" value="上傳">
                            </div> -->
                        </div>
                    </li>
                    <!-- <li id="step-5">
                        <div class="data">
                            <p>generate content</p>
                            <textarea class="textbox" placeholder="No data has been generated yet"></textarea>
                            <div class="send">
                                <input type="submit" value="confirm" class="button-frame button-anime">
                                <input type="button" value="reset" class="button-frame button-anime">
                            </div>
                        </div>
                    </li> -->
                </ul>
            </form>
            <div class="prev-next">
                <div class="prev">
                    <div id="grad_left"></div>
                    <a href="#" id="prev"><i class="fa-solid fa-arrow-left"></i></a>
                </div>
                <div class="next">
                    <div id="grad_right"></div>
                    <a href="#" id="next"><i class="fas fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="create-course" style="display:none">
    <div class="button-frame role-open role-selection">
        <a href="/teacher"><button title="create_course" class="button-frame button-anime return-button"><i class="fa-solid fa-arrow-left-long"></i></button></a>
        <span>創建課程</span>
        <div class="input-frame">
            <div>
                <div class="input-box">
                    <input id="course-name" type="text" class="button-frame login-frame" name="course-name" title="course_name">
                    <label>course name</label>
                </div>
            </div>
            <div>
                <div class="register-button-frame">
                    <button type="button" class="button-frame button-anime" id="create_course_btn" onclick="create_subject()">create</button>     
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        $().timelinr({
            arrowKeys: 'true'
        })
    });
  </script>
{% endblock %}
